@mixin button {
    margin: 10px auto;
    width: 200px;
    height: 60px;
    border-radius: 20px;
    background:#e84c3d;
    color:white;
    border: 2px solid black;
    cursor: pointer;
    font-weight: bold;
    font-size: 17px;
    transition: .3s ease;
    &:hover {
        background:#f3776c;
    }
}

body {
    margin: 0;
    padding: 0;
    background-image: url("../../img/BACKGROUNDaboutUS.jpg");
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Sen', sans-serif;
}

.mainSection {
    background: rgb(249,161,93);
    margin: 5vh auto;
    background: radial-gradient(circle, rgba(249,161,93,1) 16%, rgba(170,39,22,1) 100%);
    width: 500px;
    border-radius: 20px;
    box-shadow: 14px 18px 56px -2px rgba(0,0,0,0.75);
    .addName {
        display: grid;
        text-align: center;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        min-height: 90vh;
        &__header {
            font-size: 42px;
        }
        &__label {
            display: block;
            background-color: white;
            width: 180px;
            padding: 3px 0;
            border-radius: 20px 20px 0 0;
            margin: 20px auto 0;
            border: 2px solid black;
            border-bottom: none;
            &:nth-of-type(1) {
                margin-top: 20px;
            }
        }
        &__input {
            width: 300px;
            height: 25px;
            border: 2px solid black;
        }
        &__button {
            @include button();
        }
    }

    .addQuestion {
        display: none;
        text-align: center;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto;
        min-height: 90vh;
        &__label {
            display: block;
            background-color: white;
            width: 180px;
            padding: 3px 0;
            border-radius: 20px 20px 0 0;
            margin: 20px auto 0;
            border: 2px solid black;
            border-bottom: none;
            &--correct {
                font-size: 18px;
                font-weight: bold;
                margin: 10px 0 5px;
            }
            &:nth-of-type(1) {
                margin-top: 20px;
            }
        }
        &__input {
            width: 300px;
            height: 25px;
            border: 2px solid black;
            &--select {
                width: 300px;
                height: 30px;;
                border: 2px solid black;
            }
        }
        &__answers {
            display: flex;
            justify-content: space-between;
            width: 50%;
            margin: 0 auto;
        }
        &__button {
            @include button();
        }
    }

    .gameSection {
        display: grid;
        text-align: center;
        grid-template-columns: 1fr;
        grid-template-rows: 100px 100px 200px auto 100px;
        min-height: 90vh;
        &__player {
            font-size: 36px;
        }
        &__name {
            font-size: 36px;
        }
        &__question {
            font-size: 34px;
            padding: 0 15px;
        }
        &__answers {
            margin: 0 auto;
            text-align: left;
            font-size: 20px;
        }
        &__button {
            @include button();
            margin: auto auto;
        }
    }

    .resultSection {
        display: grid;
        text-align: center;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 100px 100px;
        min-height: 90vh;
        &__result {
            font-size: 32px;
            text-align: center;
            padding: 15px 15px;
        }
        &__loseImg {
            width: 300px;
            display: none;
            margin: 0 auto;
        }
        &__winImg {
            width: 300px;
            display: none;
            margin: 0 auto;
        }
        &__button {
            @include button();
        }
    }
    @media (max-width: 700px) {
        width: 100%;
        min-height: 100vh;
        margin: 0;
        border-radius: 0;
    }
}