@mixin button {
    margin: 10px auto;
    width: 200px;
    height: 60px;
    border-radius: 20px;
    background:#e84c3d;
    color:white;
    border: 2px solid black;
    cursor: pointer;
    font-weight: bold;
    font-size: 17px;
    transition: .3s ease;
    a {
        color: white;
        text-decoration: none;
    }
    &:hover {
        background:#f3776c;
    }
}

body {
    margin: 0;
    padding: 0;
    background-image: url("../../img/BACKGROUNDaboutUS.jpg");
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Sen', sans-serif;
}

.rules {
    background: rgb(249,161,93);
    margin: 5vh auto;
    background: radial-gradient(circle, rgba(249,161,93,1) 16%, rgba(170,39,22,1) 100%);
    width: 700px;
    border-radius: 20px;
    box-shadow: 14px 18px 56px -2px rgba(0,0,0,0.75);
    text-align: center;
    &__header {
        font-size: 42px;
        &--smaller {
            font-size: 32px;
        }
    }
    &__paragraph {
        padding: 0 30px;
    }
    &__list {
        text-align: left;
        margin: 20px 0 10px;
        &--authors {
            list-style: none;
            padding: 0 10px;
        }
    }
    &__button {
        @include button();
    }
    @media(max-width: 700px) {
        position: absolute;
        top: 0;
        width: 100%;
        margin: 0;
        border-radius: 0;
    }
}